.one{
    display: none;
    margin-left: 40px;
}
.lititle{
	text-align: center;
}
.listul1{
    list-style: none;
    width: 300px;
    border:1px solid #b4e4d8;
    padding: 0;
    margin: 0;
    background-color: #effdfa;
}
.listul2{
    list-style: none;
    width: 300px;
    border:1px solid #b4e4d8;
    padding: 0;
    margin: 0;
    border-top: 0;
    display: none;
    background-color: #effdfa;
}
.listli{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b4e4d8;
    padding: 0 40px;
}
.up,.down{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 300px;
}

.upimg,.downimg{
    display: flex;
}
.list-l{
    display: flex;
    width: 2px;
    height: 2px;
}
.list-r{
    display: flex;
    width: 6px;
    height: 9px;
}
.text{
    display: flex;
}
#downlast{
    border-bottom: 0;
}
#uplast{
    border-bottom: 0;
}
